


/*estilo fonte*/
.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.lacquer-regular {
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
/*** PALERA DE CORES WINDOWS 98 ***/
:root {
    --cor1: #008080;
    --cor2: #c0c0c0;
    --cor3: 2px solid white;
    --cor4: 2px solid #666;
    --cor5: 2px solid #222;
}

* {
    box-sizing: border-box;
}

body {
    font-size: small;
}


/*****************************************************************************/
/* desktop
/*****************************************************************************/
body {
    background: var(--cor1);
    height: 100vh;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}



/*****************************************************************************/
/* BARRA INICIO
/*****************************************************************************/
.inicio {
    background: var(--cor2);
    height: 38px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 2px solid #efefef;
    padding: 3px;
    z-index: 9999;
}

.relogio {
    border-top: var(--cor4);
    border-left: var(--cor4);
    border-right: var(--cor3);
    border-bottom: var(--cor3);
    float: right;
    padding: 3px 3px 2px 9px;
}


.mini-icons {
    padding: 0 3px 0 3px;
    position: relative;
    float: left;
}

.mini-icons img {
    width: 17px;
}

.btn-inicio {
    display: inline-block;
    text-decoration: none;
    color: black;
    line-height: 25px;
    font-weight: bold;
    padding: 0 7px 0 31px;
    height: 29px;
    background-color: var(--cor2);
    border-top: var(--cor3);
    border-left: var(--cor3);
    border-right: var(--cor5);
    border-bottom: var(--cor5);
    background-image: url('img/win98_icons/windows.ico');
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 22px;
}


/*****************************************************************************/


/*Tornar icones como botoes clicaveis*/

.cursos img{
    display: block;
    max-width: 100%;
    height: auto;
}

#bt-cursos{
    all: unset;

}

#bt-cursos img{
    display: block;
    max-width: 100%; 
    height: auto;
    background: none;

}


/* DIV DA PASTA COM OS CURSOS*/

.folderCursos{
    background-color: #c0c0c0;
    width: 1000px;
    height: 500px;
    border: 8px solid #666;
    outline: black solid;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: auto;
    overflow-y: scroll;
    align-items: center;
    
}
.folderDEVS{
    background-color: #c0c0c0;
    width: 1000px;
    height: 500px;
    border: 8px solid #666;
    outline: black solid;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: auto;
    overflow-y: scroll;
    align-items: center;    
}

.UTF{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
}

.topfolder{
    background-color: #222;
    text-align: right;
}
#retornar{
    background-color: #222;
    size: 50%;
}


/*arquivo cursos em geral*/

.cursosGeral{
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    padding-left: 50px;
    height: 42%;
    padding-top: 25px
}


.UTFlist{
    display: flex;
    align-items: center;            
    margin: 10px 0; 
}
.FATEClist{
    display: flex;
    align-items: center;            
}
.USPlist{
    display: flex;
    align-items: center;                
    margin: 10px 0; 
}

/*ARQUIVO TEMPORARIO*/

.soonDiv{
    padding-left: 25px;
    padding-top: 12px;
}

/*ARQUIVO DEVS*/

.devlist{
    list-style: none;
}



/* Estilo do container CADASTRO*/
.login-container {
    background-color: #c0c0c0;
    border: 4px solid #000000;
    max-width: 100%;
    width: 500px;
    padding: 20px;
    margin: auto;
    box-shadow: 2px 2px 5px #888888;
}

    /* Título */
h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 15px;
    color: #222;
}

    /* Estilo dos campos */
label {
    font-size: 15px;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    font-size: 12px;
    background-color: #FFFFFF;
}

    /* Botão de envio */
input[type="submit"] {
    width: 100%;
    padding: 5px;
    font-size: 15px;
    background-color: #666;
    color: #FFFFFF;
    border: 1px solid #000000;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0000A0;
}

    /* Rodapé */
.footer {
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    color: #000080;
}
