


/*estilo fonte*/
.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

/*** PALERA DE CORES WINDOWS 98 ***/
:root {
    --cor1: #008080;
    --cor2: #c0c0c0;
    --cor3: 2px solid white;
    --cor4: 2px solid #666;
    --cor5: 2px solid #222;
}

* {
    box-sizing: border-box;
}

body {
    font-size: small;
}




/*****************************************************************************/
/* desktop
/*****************************************************************************/
.desktop,
body {
    background: var(--cor1);
    height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.icon-desktop {
    margin: 10px;
    width: 70px;
    text-align: center;
    position: relative;
    display: inline-block;
}

.icon {
    display: block;
    margin-bottom: 10px;
}

.icon img {
    display: block;
    margin: 5px auto;
}

.icon p {
    color: white;
    font-size: 20px;
    margin: 0;
    font-size: small;
}

#cursostxt{
    text-align: center;
    font-size: smaller;
}

/*****************************************************************************/
/* BARRA INICIO
/*****************************************************************************/
.inicio {
    background: var(--cor2);
    height: 38px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 2px solid #efefef;
    padding: 3px;
    z-index: 9999;
}

.relogio {
    border-top: var(--cor4);
    border-left: var(--cor4);
    border-right: var(--cor3);
    border-bottom: var(--cor3);
    float: right;
    padding: 3px 3px 2px 9px;
}


.mini-icons {
    padding: 0 3px 0 3px;
    position: relative;
    float: left;
}

.mini-icons img {
    width: 17px;
}

.btn-inicio {
    display: inline-block;
    text-decoration: none;
    color: black;
    line-height: 25px;
    font-weight: bold;
    padding: 0 7px 0 31px;
    height: 29px;
    background-color: var(--cor2);
    border-top: var(--cor3);
    border-left: var(--cor3);
    border-right: var(--cor5);
    border-bottom: var(--cor5);
    background-image: url('img/win98_icons/windows.ico');
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 22px;
}


/*****************************************************************************/


/*Tornar icones como botoes clicaveis*/

.cursos img{
    display: block;
    max-width: 100%;
    height: auto;
}

#bt-cursos{
    all: unset;
}

#tst{
    color: white;
    font-size: 20px;
    margin: 0;
    font-size: small;   
}

#sobre {
    position: fixed; 
    top: 20px; 
    right: 20px; 
    bottom: 5px;;
}


.image-container {
    position: fixed;
    top: 40%;
    left: 50%;
    right: 12%;
    transform: translate(-50%, -50%);
}

.image-container img {
    max-width: 80%; 
    height: auto;
}


